<!doctype html>
<html lang="en">
<head>
    <%- include("head.ejs"); %>
</head>
<body>
<section class="col-md-12">
    <div class="container">
        <form class="form-inline" method="get" action="/tim-kiem-hang-hoa">
            <div class="form-group">
                <label for="exampleInputName2">Tìm kiếm</label>
                <input name="tentimkiem" type="text" class="form-control" id="exampleInputName2" placeholder="Tìm sản phẩm..">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
</section>
<section class="col-md-12">
    <div class="container">
        <ul>
            <% for (var i=0;i<ds.length;i++){ %>
                <li><%= ds[i].Ten %></li>
            <% } %>
        </ul>
    </div>
</section>
</body>
</html